<section class="vh-10 bg-dark">
    <div class="container py-3 h-210">
      <div class="row justify-content-center align-items-start h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded shadow-sm">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="/">Actividad Sumativa FullStacks3</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/recuperacion" routerLinkActive="active">Recuperación</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  